<header>
  <nav>
    <a href="/hospital/patient" style="font-size: 26px; margin-right: 10px;">Hospital</a>
    <a href="/hospital/statistic" style="font-size: 26px; margin-right: 10px;">Statistic</a>
    <a href="/logout" style="font-size: 26px; margin-right: 10px;">Logout</a>
  </nav>
</header>