<header>
  <nav>
    <a href="/hospital/1/patient">hospital</a>
    <a href="/hospital/1/medical-record">Medical Records</a>
    <a href="/hospital/1/statistic">Hospital Statistic</a>
    <a href="/logout">Logout</a>
  </nav>
</header>