<header>
  <nav>
    <a href="/homepage/1/patient">HomePage</a>
    <a href="/homepage/1/medical-record">Medical Records</a>
    <a href="/homepage/1/statistic">Hospital Statistic</a>
    <a href="/logout">Logout</a>
  </nav>
</header>