<header>
  <nav>
    <a href="/hospital/patient">hospital</a>
    <a href="/hospital/medical-record">Medical Records</a>
    <a href="/hospital/statistic">Hospital Statistic</a>
    <a href="/logout">Logout</a>
  </nav>
</header>