<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Patient Detail</title>
</head>
<body>
  <%- include('navbar_taufik') %>
  <h1>Patient's Name:</h1>
  <a href="/hospital/:userId/patient/:patientId/edit">Edit</a>
  <a href="/hospital/:userId/patient/:patientId/medical-record">Medical Record</a>
  <h1>Detail Patient Here</h1>
</body>
</html>